.list-info {
  margin-left: 2rem;
}
.available-tables {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  padding: 1rem;
  justify-content: center;

  .listed-table {
    margin: 1rem;
  }
}
