.nav-bar {
  position: fixed;
  width: 100%;
  background-color: cornsilk;
  transition: 0.3s all;
  z-index: 1000;

  &-authenticated {
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    align-content: center;

    animation: fade-in 0.3s;

    .hello-user {
      margin-right: auto;
    }

    h3 {
      margin: auto 0;
    }
  }

  &-login {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;

    grid-gap: 0.2rem;

    animation: fade-in 0.3s;
  }
}

.nav-bar.authenticated {
  height: 3rem;
}

.nav-bar:not(.authenticated) {
  height: 12rem;

  & ~ * {
    /deep/ router-outlet ~ * {
      padding-top: 12rem;
    }
  }
}

/deep/ router-outlet ~ * {
  padding-top: 3rem;
  position: absolute;
  height: 100%;
  width: 100%;

  transition: padding 0.3s;
}
