.player {
  display: flex;
  flex-direction: row;

  border: 1px solid black;
  padding: 1rem;
  margin: 0.5rem;

  &-hand {
    display: flex;
    flex-direction: row;

    padding: 1rem;
    margin: 0.5rem;
  }
}
