.background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;

  display: grid;
  justify-content: center;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.7);

  animation: fade-in 0.5s;

  .color-picker {
    width: 50rem;
    height: 17.5rem;
    padding: 1rem;

    background-color: ghostwhite;
    border: 3px solid grey;

    box-shadow: 0.4rem 1.2rem 3rem black;

    h3 {
      text-align: center;
    }

    .colors {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .clickable-piece {
        margin: 0 0.7rem;
        transition: 0.3s all;
        cursor: pointer;
      }

      .clickable-piece:hover {
        box-shadow: 0.4rem 0.3rem 0.5rem rgba(0, 0, 0, 0.7);
        transform: translate(-0.15rem, -0.4rem);
      }
    }
  }
}
