.background {
  position: fixed;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 1fr max-content 1fr;
  background-color: rgba(0, 0, 0, 0.7);

  .game-over-screen {
    grid-column: 2;
    grid-row: 2;

    width: 50rem;
    height: 20rem;
    padding: 1rem;

    background-color: ghostwhite;
    border: 3px solid grey;

    box-shadow: 0.4rem 2rem 2rem black;

    button {
      margin: 0.5rem;
      padding: 0 0.5rem;
      width: 5rem;
    }
  }
}
