.container {
  position: relative;
  width: 6rem;
  height: 12rem;

  overflow: hidden;

  &.new {
    animation: grow 1s;
  }
}

.game-piece {
  position: relative;
  display: grid;
  width: 6rem;
  height: 12rem;
  flex-direction: column;
  border: 1px black solid;
  padding: 1rem;

  grid-template-columns: minmax(max-content, 1fr) minmax(max-content, 1fr);
  grid-template-rows: max-content 1fr max-content;

  justify-content: center;
  align-content: center;

  justify-items: center;
  align-items: center;

  &.new-piece {
    animation: slideIn 1s;
  }
  &.just-flipped::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    animation: flashRed 2s;
  }

  &-seen {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }

  &-value {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;

    font-size: 3rem;
  }

  &-guess {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;

    display: none;
    flex-direction: column;
    justify-content: center;

    * {
      margin: 0.25rem auto;
    }

    .guess-value {
      font-size: 1.8rem;
      font-weight: 400;
      color: grey;
    }
  }

  &-color {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
  }
}

.game-piece.guessable:hover {
  .game-piece-value {
    display: none;
  }

  .game-piece-guess {
    display: flex;
  }
}

.piece-color-0 {
  background-color: white;
  color: black;
}

.piece-color-1 {
  background-color: rgb(56, 56, 56);
  color: white;
}

@keyframes slideIn {
  0% {
    position: absolute;
    right: 55%;
  }

  90% {
    position: absolute;
    right: -5%;
  }

  100% {
    position: absolute;
    right: 0%;
  }
}

@keyframes grow {
  0% {
    width: 0px;
  }

  100% {
    width: 6rem;
  }
}

@keyframes flashRed {
  0% {
    background-color: rgba(255, 0, 0, 0);
  }

  25% {
    background-color: rgba(255, 0, 0, 1);
  }

  50% {
    background-color: rgba(255, 0, 0, 0);
  }

  75% {
    background-color: rgba(255, 0, 0, 1);
  }

  100% {
    background-color: rgba(255, 0, 0, 0);
  }
}
