.game-piece {
  display: grid;
  width: 6rem;
  height: 12rem;
  flex-direction: column;
  border: 1px black solid;
  padding: 1rem;

  grid-template-columns: minmax(max-content, 1fr) minmax(max-content, 1fr);
  grid-template-rows: max-content 1fr max-content;

  justify-content: center;
  align-content: center;

  justify-items: center;
  align-items: center;

  &-seen {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }

  &-value {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;

    font-size: 3rem;
  }

  &-guess {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;

    display: none;
    flex-direction: column;
    justify-content: center;

    * {
      margin: 0.25rem auto;
    }

    .guess-value {
      font-size: 1.8rem;
      font-weight: 400;
      color: grey;
    }
  }

  &-color {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
  }
}

.game-piece.guessable:hover {
  .game-piece-value {
    display: none;
  }

  .game-piece-guess {
    display: flex;
  }
}

.piece-color-0 {
  background-color: white;
  color: black;
}

.piece-color-1 {
  background-color: rgb(56, 56, 56);
  color: white;
}
