.game-piece {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  margin: 0 0.5rem;
  padding: 1rem;

  &-seen {
    margin-left: auto;
    margin-right: auto;
  }

  &-value {
    margin-left: auto;
    margin-right: auto;
  }

  &-guess {
    display: none;
  }
}

.game-piece.guessable:hover {
  .game-piece-value {
    display: none;
  }

  .game-piece-guess {
    display: flex;
    flex-direction: column;
    /* padding: 1rem 0; */

    * {
      margin: 0.25rem auto;
    }

    .guess-value {
      font-size: 1.8rem;
      font-weight: 400;
      color: grey;
    }
  }
}

.piece-color-0 {
  background-color: white;
  color: black;
}

.piece-color-1 {
  background-color: rgb(56, 56, 56);
  color: white;
}
