.container {
  padding: 0 1rem;
}

.joined-players {
  li {
    margin: 0.3rem 0;
  }
}

.available-games {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;

  padding: 1rem;

  align-items: center;
  justify-items: center;
  justify-content: center;
}
